cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size  24
}

environment {
    QT_QPA_PLATFORM              "wayland"
    GDK_BACKEND                  "wayland,x11,*"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

spawn-at-startup "waybar"
spawn-at-startup "dunst"
spawn-at-startup "bash" "-c" "/home/quanve/.config/niri/switch_wallpaper.sh start"

input {
    keyboard {
        xkb {
            layout  "us,ru"
            options "grp:alt_shift_toggle"
        }
        repeat-delay 250
        repeat-rate  35
        numlock
    }

    mouse {
        accel-profile "flat"
        accel-speed   -0.58
    }

    focus-follows-mouse max-scroll-amount="0%"
}

layout {
    gaps 10

    struts {
        left   15
        right  17
        top    15
        bottom 15
    }

    focus-ring {
        width 2
        active-color   "#89b4fa"
        inactive-color "#313244"
    }

    border {
        off
    }
}

prefer-no-csd
screenshot-path null

animations {
    slowdown 1.0

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 250
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
    opacity 0.92

    background-effect {
        blur true
        noise 0.02
        saturation 1.1
    }
}

window-rule {
    match title=r"^[Pp]icture[-\ ][Ii]n[-\ ][Pp]icture$"
    open-floating true

}

binds {
    Mod+Return       { spawn "foot"; }
    Mod+E            { spawn "nautilus" "--new-window"; }
    Mod+D            { spawn "fuzzel"; }
    Mod+Shift+F      { spawn "firefox"; }
    Mod+Alt+T        { spawn "/home/quanve/.config/niri/switch_wallpaper.sh" "set"; }
    Mod+Shift+S      { screenshot; }

    Mod+C            { close-window; }
    Mod+Space        { toggle-window-floating; }
    Mod+F            { maximize-column; }
    Mod+Shift+Return { fullscreen-window; }
    Mod+M            { maximize-window-to-edges; }
    Mod+Z            { center-column; }
    Mod+O            { toggle-overview; }

    Mod+Left         { focus-column-left; }
    Mod+Right        { focus-column-right; }
    Mod+Up           { focus-window-up; }
    Mod+Down         { focus-window-down; }

    Mod+1            { focus-workspace 1; }
    Mod+2            { focus-workspace 2; }
    Mod+3            { focus-workspace 3; }
    Mod+4            { focus-workspace 4; }
    Mod+5            { focus-workspace 5; }
    Mod+6            { focus-workspace 6; }
    Mod+7            { focus-workspace 7; }
    Mod+8            { focus-workspace 8; }
    Mod+9            { focus-workspace 9; }
    Mod+0            { focus-workspace 10; }

    Mod+Shift+1      { move-window-to-workspace 1; }
    Mod+Shift+2      { move-window-to-workspace 2; }
    Mod+Shift+3      { move-window-to-workspace 3; }
    Mod+Shift+4      { move-window-to-workspace 4; }
    Mod+Shift+5      { move-window-to-workspace 5; }
    Mod+Shift+6      { move-window-to-workspace 6; }
    Mod+Shift+7      { move-window-to-workspace 7; }
    Mod+Shift+8      { move-window-to-workspace 8; }
    Mod+Shift+9      { move-window-to-workspace 9; }
    Mod+Shift+0      { move-window-to-workspace 10; }

    Mod+WheelScrollDown        cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp          cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown  cooldown-ms=150 { focus-column-right; }
    Mod+Shift+WheelScrollUp    cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollRight       cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollLeft        cooldown-ms=150 { focus-column-left; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "-l" "1" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%-"; }

    XF86AudioNext  allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev  allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioPlay  allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPause allow-when-locked=true { spawn "playerctl" "play-pause"; }

    Ctrl+Alt+Delete  { spawn "bash" "-c" "~/.config/fuzzel/powermenu.sh"; }
    Mod+L            { spawn "hyprlock"; }
    Mod+Shift+E      { quit; }

    Mod+N            { spawn "dunstctl" "history-pop"; }
    Mod+Shift+N      { spawn "bash" "-c" "~/.config/fuzzel/dunst.sh"; }
    Mod+Alt+C        { spawn "dunstctl" "history-clear"; }

    Ctrl+Shift+Alt+V { spawn "bash" "-c" "sleep 0.5 && ydotool type -d 1 \"$(cliphist list | head -1 | cliphist decode)\""; }
}
